$color-primary: #FFCB00;
$color-secondary: #1A1A1A;
$color-third: #D6D6D6;
$color-fourth: #FFCB05;
$color-fifth: #FFFFFF;

$gray: #878787;
$gray-light: #D6D6D6;
$black: #000;
$white: #fff;

$font-base: 16px;

$breakpoints: (
        xs: 512px,
        sm: 768px,
        md: 896px,
        lg: 1152px,
        xl: 1280px
);